/* JAMES WORLD SYLES */
.banner {
  height: 350px;
  background-image: url(images/jetnite.jpg);
  background-size: cover;
  background-position: center;
}

/* BANNER STUFF */
a {
  color: red;
  text-decoration: none;
}
header {
  color: red;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
}

body {
  background-image: url(images/darkness.png);
}
